article {
  padding: 15px 0;
}

#primary.full_width  {
width: 920px;
}


//this is oddly getting placed elsewhere in the document
@font-face {
    font-family: 'yu-tt-iconfont';
    src:url('../../fonts/yu-tt-iconfont.eot?nsfnr9');
    src:url('../../fonts/yu-tt-iconfont.eot?#iefixnsfnr9') format('embedded-opentype'),
        url('../../fonts/yu-tt-iconfont.woff?nsfnr9') format('woff'),
        url('../../fonts/yu-tt-iconfont.ttf?nsfnr9') format('truetype'),
        url('../../fonts/yu-tt-iconfont.svg?nsfnr9#yu-tt-iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'yu-tt-iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yu-teachers:before {
    content: "\e600";
}
.icon-yu-schedule:before {
    content: "\e601";
}
.icon-yu-program:before {
    content: "\e602";
}
.icon-yu-pricing:before {
    content: "\e603";
}
.icon-yu-contact:before {
    content: "\e604";
}
.icon-yu-register:before {
    content: "\e605";
}

.icon-yu-teachers:before,
.icon-yu-schedule:before,
.icon-yu-program:before ,
.icon-yu-pricing:before ,
.icon-yu-contact:before ,
.icon-yu-register:before {

}


#gform_wrapper_5 {
	&.gform_wrapper {
		li.clearit .gfield_label {
			display: none;
		}
		.ginput_container {
			padding-bottom: 15px;
		}

		input, .ginput_container textarea {
			font-size: 16px;
			padding: 5px 2px 5px 10px;
			&.button {
				padding-top: 1rem;
				padding-right: 2rem;
				padding-bottom: 1.0625rem;
				padding-left: 2rem;
			}
		}
	}
}
#primary, //for the desktop site
#content //for the mobile site
{
    h1.section-title {
        display: block;
        background: #61748d;
        font-size: 2.5em;
        margin-bottom: 20px !important;
        padding-top: 5px;
        text-shadow: 1px 1px rgba(0,0,0,.1);

        &[class^="icon-"]:before, &[class*=" icon-"]:before {
            padding: 0 10px 0 14px;
            position: relative;
            top: 3px;        
        }
        &#program {
            background: url('../../images/bg_program.jpg');
            color: rgba(255,255,255,.9);
        }
        &#teachers {
            background: url('../../images/bg_teachers.jpg');
            color: rgba(255,255,255,.9);
        }
        &#schedule {
            background: url('../../images/bg_schedule.jpg');
            color: rgba(255,255,255,.9);
        } 
        &#pricing {
            background: url('../../images/bg_pricing.jpg');
            color: rgba(255,255,255,.9);
        }
        &#register {
            background: url('../../images/bg_register.jpg');
            color: rgba(255,255,255,.9);
        }
        &#contact {
            background: url('../../images/bg_contact.jpg');
            color: rgba(255,255,255,.9);
        }                          
    }
}
